 .u-section-1 {
  background-image: none;
  min-height: 1184px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 141px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 141px;
  margin: -141px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 436px;
  height: 85px;
  margin: -113px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1159px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 116px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -116px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 89px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -89px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 67px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 134px;
    margin-top: -67px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -106px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1028px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 42px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 84px;
    margin-top: -42px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 66px;
    margin-top: -56px;
  }
}